[submodule "vendor/github.com/carbonengine/vcpkg-registry"]
	path = vendor/github.com/carbonengine/vcpkg-registry
	url = https://github.com/carbonengine/vcpkg-registry
[submodule "vendor/github.com/microsoft/vcpkg"]
	path = vendor/github.com/microsoft/vcpkg
	url = https://github.com/microsoft/vcpkg/
